﻿@model IEnumerable<EmpresaAguasAspNet.Models.Client>

@{
    ViewBag.Title = "Lista de Clientes";
}

<h2>Lista de Clientes</h2>
<h4 class="text-danger">@ViewBag.Error</h4>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
               
                @Html.ActionLink("Editar", "Edit", new { userid = item.ClientId })|
              
                @Html.ActionLink("Detalhes", "Details", new { userid = item.ClientId })
               
               
            </td>
        </tr>
    }
</table>