﻿@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>


<p>
    Este site foi construído para lhe facilitar o acompanhamento da atividade da Empresa de Águas do CINEL. <br />

    Pretende-se, desta forma, reforçar os elos de ligação entre a Empresa de Águas do CINEL e todos aqueles que com ela se relacionam. <br />

    Continuaremos, portanto, a apostar no aprofundamento das funcionalidades ao seu dispor, para o que a sua opinião assume um papel muito importante. <br />

    Assim, continuamos a contar consigo, enquanto factor motivador da nossa permanente evolução e melhoria.<br />
</p>
