﻿@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>


<address>
    Pólo de Educação e Formação D. João de Castro<br/>
    Rua Jau, Sala 3.06 - Alto de Santo Amaro<br/>
    1300-312 Lisboa <br/>
</address>



<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.6742459945813!2d-9.190430384803564!3d38.70232637960121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecd1cdf51dba5%3A0xaaa77b600a1271fe!2sCINEL!5e0!3m2!1spt-PT!2spt!4v1524579101362"
        frameborder="0" style="border:0" allowfullscreen></iframe>

