﻿@{
    ViewBag.Title = "Inicio";
}

<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/Images/agua1.jpg" alt="agua 1" style="width: 100%;">
            </div>

            <div class="item">
                <img src="~/Content/Images/agua2.jpg" alt="agua 2" style="width: 100%;">
            </div>

            <div class="item">
                <img src="~/Content/Images/agua3.jpg" alt="agua 3" style="width: 100%;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>Empresa Águas</h2>
        <p>
            Prestadora de serviços de consumo de água.
        </p>

    </div>

</div>