﻿@model IEnumerable<EmpresaAguasAspNet.Models.Consumption>

@{
    ViewBag.Title = "Lista de Consumos";
}

<h2>Consumos</h2>

<h4 class="text-danger">@TempData["Error"]</h4>



<div class="row">
<div class="col-md-6">
    <p>
        @Html.ActionLink("Novo Consumo", "Create")
    </p>
</div>
    <div class="col-md-6">
        @if (User.IsInRole("Admin"))
        {
            using (Html.BeginForm("Index", "Consumptions", FormMethod.Get))
            {
                <p>

                    User: @Html.TextBox("search")
                    <input type="submit" value="Search" class="btn btn-default"/>
                </p>
            }
        }
    </div>
</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsumptionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumptionCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsumptionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsumptionCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserClient)
                </td>



                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ConsumptionId }) |

                    @Html.ActionLink("Apagar", "Delete", new { id = item.ConsumptionId })
                </td>


            </tr>
        }

    </table>
