﻿


.navbar {
    background-color: #0c72b6;
    border-color: #2e7db2;
}

    .navbar .navbar-brand {
        color: #fcfeff;
    }

        .navbar .navbar-brand:hover,
        .navbar .navbar-brand:focus {
            color: #8dc7ee;
        }

    .navbar .navbar-text {
        color: #fcfeff;
    }

    .navbar .navbar-nav > li > a {
        color: #fcfeff;
    }

        .navbar .navbar-nav > li > a:hover,
        .navbar .navbar-nav > li > a:focus {
            color: #8dc7ee;
        }

    .navbar .navbar-nav > li > .dropdown-menu {
        background-color: #0c72b6;
    }

        .navbar .navbar-nav > li > .dropdown-menu > li > a {
            color: #fcfeff;
        }

            .navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
            .navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
                color: #8dc7ee;
                background-color: #2e7db2;
            }

        .navbar .navbar-nav > li > .dropdown-menu > li.divider {
            background-color: #2e7db2;
        }

    .navbar .navbar-nav > .active > a,
    .navbar .navbar-nav > .active > a:hover,
    .navbar .navbar-nav > .active > a:focus {
        color: #8dc7ee;
        background-color: #2e7db2;
    }

    .navbar .navbar-nav > .open > a,
    .navbar .navbar-nav > .open > a:hover,
    .navbar .navbar-nav > .open > a:focus {
        color: #8dc7ee;
        background-color: #2e7db2;
    }

    .navbar .navbar-toggle {
        border-color: #2e7db2;
    }

        .navbar .navbar-toggle:hover,
        .navbar .navbar-toggle:focus {
            background-color: #2e7db2;
        }

        .navbar .navbar-toggle .icon-bar {
            background-color: #fcfeff;
        }

    .navbar .navbar-collapse,
    .navbar .navbar-form {
        border-color: #fcfeff;
    }

    .navbar .navbar-link {
        color: #fcfeff;
    }

        .navbar .navbar-link:hover {
            color: #8dc7ee;
        }

a,
h1,
h2,
h3,
.btn-link {
    color: #0c72b6;
}

    a:hover,
    a:active,
    a:focus,
    .btn-link:hover {
        color: #2e7db2;
    }

#map {
    
    width: 100%;
    left: 0;
    height: 350px;
}

#myCarousel {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #fcfeff;
    }

        .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #8dc7ee;
        }

    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #8dc7ee;
        background-color: #2e7db2;
    }
}
