﻿@model EmpresaAguasAspNet.Models.Level

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que quer apagar?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LevelMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitValue)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a Lista", "Index")
        </div>
    }
</div>
