﻿@model IEnumerable<EmpresaAguasAspNet.Models.Level>

@{
    ViewBag.Title = "Lista de Faturas";
}

<h2>Lista de Faturas</h2>

<p>
    @Html.ActionLink("Create Nova", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LevelMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LevelMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitValue)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.LevelId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.LevelId })
        </td>
    </tr>
}

</table>
