﻿@model EmpresaAguasAspNet.Models.Invoice

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceSubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceSubTotal)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.InvoiceVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceVat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumption.ConsumptionCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumption.ConsumptionCount)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Voltar a Lista", "Index")
</p>
