﻿@model IEnumerable<EmpresaAguasAspNet.Models.Invoice>

@{
    ViewBag.Title = "Faturas";
}


<h2>Lista de Faturas</h2>
@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-6">

            <p>
                @Html.ActionLink("Nova", "SelectUser")
            </p>

        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Invoices", FormMethod.Get))
            {
                <p>

                    User: @Html.TextBox("search")
                    <input type="submit" value="Search" class="btn btn-default"/>
                </p>
            }
        </div>
    </div>
}






<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceSubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceVat)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.InvoiceTotal)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceSubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceVat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceTotal)
            </td>

            <td>
                @Html.ActionLink("Detalhes", "Details", new { id = item.InvoiceId }) |
                @Html.ActionLink("Imprimir", "Print", new { id = item.InvoiceId })
            </td>
        </tr>
    }

</table>
