﻿@model IEnumerable<EmpresaAguasAspNet.Models.Invoice>

@{
    ViewBag.Title = "Criar";
}

<h2>Nova Fatura</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserClient)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserClient)
            </td>
           
            <td>
                @Html.ActionLink("Faturar", "Create", new { id=item.ClientId }) 
            </td>
        </tr>
    }

</table>

<p>

    @Html.ActionLink("Voltar a Lista", "Index")
</p>
