﻿@using Microsoft.AspNet.Identity
@model EmpresaAguasAspNet.Models.IndexViewModel
@{
    ViewBag.Title = "Gestão";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Altere a sua password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Criar", "SetPassword")
            }
            ]
        </dd>


        @if (User.IsInRole("Client"))
        {
            <dt>Dados Pessoais:</dt>
            <dd>
                [ @Html.ActionLink("Altere os seus dados", "Edit", "Clients", new { userid = User.Identity.GetUserId() }, null)]
            </dd>

        }


    </dl>
</div>
